<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Accept-CH" content="DPR, Width">
  <link rel=" preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Sansita+Swashed:wght@300;400;500;600&display=swap" rel="stylesheet">
  <title>Coffee Shops</title>
  <!-- Customs Stylesheets -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/general.css">
  <link rel="stylesheet" href="/css/coffeeshops.css">
</head>

<body>
  <nav class="navbar">
    <ul>
      <li><a class="nav__el" href="/">
          <h3 class="inline navFont">Find Me Food Now!</h3>
        </a></li>
      <li><a class="nav__el" href="/coffeeshops">Home</a></li>
      <li class="justify-end margin-right">
        <a class="nav__user nav__user__a hide">
          <div class="login hide">Login</div>
        </a>
        <div class="nav__user nav__user__div hide">
          <div class="user hide">
            <div class="username"></div>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12.0001 13.8515L6.48512 8.2498V8.25C6.26252 8.03164 5.9431 7.94859 5.64459 8.03164C5.34628 8.11489 5.11313 8.35173 5.03115 8.65473C4.94939 8.95792 5.03115 9.28239 5.24613 9.50848L11.3805 15.7393C11.5448 15.9062 11.7676 16 12 16C12.2324 16 12.4552 15.9062 12.6195 15.7393L18.7539 9.50848C18.9688 9.28237 19.0506 8.95793 18.9688 8.65473C18.8869 8.35173 18.6537 8.11491 18.3554 8.03164C18.0569 7.94859 17.7375 8.03164 17.5149 8.25L12.0001 13.8515Z" fill="black" />
            </svg>
          </div>
          <div class="dropdown--content">
            <a class="dropdown--profile flex--centerAll">Profile</a>
            <form class="dropdown--logout flex--centerAll" action="/users/logout" method="POST">
              <div class="submit">Logout</div>
            </form>
          </div>
        </div>
      </li>
    </ul>
  </nav>

  <!-- SEARCH BAR AND GRID LAYOUT BUTTON -->
  <div class="container flex--centerAll">
    <div class="widgetBar">
      <!-- search input -->
      <div class="searchbar basis-90">
        <label for="searchbar__input" class="searchbar__wrapper">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="search">
            <path d="M20.82 19.9119L16.6143 15.7063C17.9008 14.1855 18.5499 12.2265 18.4255 10.2385C18.3012 8.25049 17.4135 6.38751 15.9476 5.03881C14.4816 3.69011 12.5512 2.96026 10.5596 3.00167C8.56818 3.04308 6.66974 3.85274 5.26123 5.2612C3.85272 6.66965 3.04308 8.56792 3.00167 10.5595C2.96026 12.551 3.69015 14.4813 5.03884 15.9474C6.38741 17.4133 8.25049 18.301 10.2386 18.4252C12.2266 18.5496 14.1857 17.9006 15.7065 16.6141L19.9122 20.8197C20.0752 20.9772 20.3092 21.0371 20.5279 20.9772C20.7464 20.9171 20.9171 20.7464 20.9772 20.5279C21.0371 20.3092 20.9772 20.0752 20.8197 19.9122L20.82 19.9119ZM4.31877 10.7373C4.31877 9.03488 4.99508 7.40221 6.19891 6.19861C7.4026 4.99479 9.0353 4.3185 10.7377 4.3185C12.4401 4.3185 14.0728 4.99479 15.2765 6.19861C16.4803 7.40228 17.1566 9.03496 17.1566 10.7373C17.1566 12.4397 16.4803 14.0724 15.2765 15.276C14.0728 16.4798 12.4401 17.1561 10.7377 17.1561C9.03581 17.1543 7.40425 16.4774 6.20075 15.274C4.99724 14.0707 4.32046 12.4391 4.31863 10.7372L4.31877 10.7373Z" />
          </svg>


        </label>
        <form class="searchbar__input" action="/coffeeShops" method="GET">
          <input class="searchbar__input__text" type="search" name="search" placeholder="Search for Restaurants">
        </form>
      </div>
      <!-- button to change the grid layout -->
      <div class="dropdown dropdown--svg">
        <div class="dropdown__toggle">
          <button class="button transparent padding-0 flex--center stopPropagation" type="button">
            <svg xmlns="http://www.w3.org/2000/svg">
              <use href="#masonry"></use>
            </svg>
            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="arrowDown">
              <path d="M12.0001 13.8515L6.48512 8.2498V8.25C6.26252 8.03164 5.9431 7.94859 5.64459 8.03164C5.34628 8.11489 5.11313 8.35173 5.03115 8.65473C4.94939 8.95792 5.03115 9.28239 5.24613 9.50848L11.3805 15.7393C11.5448 15.9062 11.7676 16 12 16C12.2324 16 12.4552 15.9062 12.6195 15.7393L18.7539 9.50848C18.9688 9.28237 19.0506 8.95793 18.9688 8.65473C18.8869 8.35173 18.6537 8.11491 18.3554 8.03164C18.0569 7.94859 17.7375 8.03164 17.5149 8.25L12.0001 13.8515Z" />
            </svg>
          </button>
        </div>
        <div class="dropdown__drawer">
          <ul class="menu menu--svg">
            <li id="masonry-grid" tabindex="0">
              <svg xmlns="http://www.w3.org/2000/svg">
                <use href="#masonry"></use>
              </svg>
              <p>Masonry</p>
            </li>
            <li id="small-grid" tabindex="0">
              <svg xmlns="http://www.w3.org/2000/svg">
                <use href="#grid-small"></use>
              </svg>
              <p>Small</p>
            </li>
            <li id="large-grid" tabindex="0">
              <svg height="32" width="32" xmlns="http://www.w3.org/2000/svg">
                <use href="#grid-large"></use>
              </svg>
              <p>Large</p>
            </li>
          </ul>
        </div>
      </div>
    </div>


  </div>
  <!-- COFFEE SHOP CARDS -->
  <div class="container-fluid">
    <div class="row">

      <div class="grid col-lg-3 col-md-4 col-sm-6 col-xs-12" data-col="0">
        <% shops.forEach(coffeeShop => { %>
        <div class="card card--v2" tabindex="0">
          <div class="card__image carousel">
            <a href="/coffeeShops/<%=coffeeShop._id%>" tabindex="-1">
              <% for(let i = 0; i < coffeeShop.images.length; i++) { %>
              <% if(i === 0) { %>
              <img class="active carousel__image" data-src="<%=coffeeShop.images[i].filename%>" alt="...">
              <% } else { %>
              <img class="carousel__image" data-src="<%=coffeeShop.images[i].filename%>" alt="...">
              <% }} %>
            </a>
            <div class="card__image__top">
              <h6><%=coffeeShop.name%></h6>
            </div>
            <div class="card__image__bottom">
              <p>
                <%=coffeeShop.avgRating%>
              </p>
              <div class="rating" data-rating="<%=coffeeShop.avgRating%>">
                <svg width="24" height="30">
                  <use href="#cup"></use>
                </svg>
                <svg width="24" height="30">
                  <use href="#cup"></use>
                </svg>
                <svg width="24" height="30">
                  <use href="#cup"></use>
                </svg>
                <svg width="24" height="30">
                  <use href="#cup"></use>
                </svg>
                <svg width="24" height="30">
                  <use href="#cup"></use>
                </svg>
              </div>
              <p>(<%= coffeeShop.reviewsCount%>)</p>
            </div>
            <svg width="48" height="48" viewBox="0 0 24 24" class="button--svg button--left hide" tabindex="0">
              <use href="#svg--left"></use>
            </svg>
            <svg width="48" height="48" viewBox="0 0 24 24" class="button--svg button--right hide" tabindex="0">
              <use href="#svg--right"></use>
            </svg>
          </div>
        </div>
        <% }) %>
      </div>

      <div class="grid col-lg-3 col-md-4 col-sm-6 col-xs-12" data-col="1"></div>
      <div class="grid col-lg-3 col-md-4 col-sm-6 col-xs-12" data-col="2"></div>
      <div class="grid col-lg-3 col-md-4 col-sm-6 col-xs-12" data-col="3"></div>

    </div>
  </div>




  <footer>
    <p>The Footer. &copy; 2019 Turkey Stuff Inc.</p>
  </footer>
  </div>


  <!-- SVGs  -->
  <!-- layouts -->
  <svg width="0" height="0" class="gridLarge" version="1.1" x="0px" y="0px" xmlns="http://www.w3.org/2000/svg">
    <symbol id="grid-large" class="largeFill" fill="none" viewBox="0 0 24 24">
      <g class="g1">
        <path d="M13 15C13 14.0532 14.0532 13 15 13L19 13C19.9468 13 21 14.0532 21 15V19C21 19.9468 19.9468 21 19 21H15C14.0532 21 13 19.9468 13 19V15Z" />
        <path d="M3 5C3 4.05323 4.05323 3 5 3L9 3C9.94677 3 11 4.05323 11 5V9C11 9.94677 9.94677 11 9 11H5C4.05323 11 3 9.94677 3 9V5Z" />
      </g>
      <g class="g2">
        <path d="M13 5C13 4.05323 14.0532 3 15 3L19 3C19.9468 3 21 4.05323 21 5V9C21 9.94677 19.9468 11 19 11H15C14.0532 11 13 9.94677 13 9V5Z" />
        <path d="M3 15C3 14.0532 4.05323 13 5 13L9 13C9.94677 13 11 14.0532 11 15V19C11 19.9468 9.94677 21 9 21H5C4.05323 21 3 19.9468 3 19V15Z" />
      </g>
      <rect id="outline" x="2.5" y="4.5" rx="0.5" stroke="black" />
    </symbol>
    <symbol id="grid-small" class="smallFill" fill="none" viewBox="0 0 24 24">
      <g class="g2">
        <path d="M14 4.75C14 3.92157 14.9216 3 15.75 3L19.25 3C20.0784 3 21 3.92157 21 4.75V8.25C21 9.07843 20.0784 10 19.25 10H15.75C14.9216 10 14 9.07843 14 8.25V4.75Z" />
        <path d="M3 15.75C3 14.9216 3.92157 14 4.75 14L8.25 14C9.07843 14 10 14.9216 10 15.75V19.25C10 20.0784 9.07843 21 8.25 21H4.75C3.92157 21 3 20.0784 3 19.25V15.75Z" />
      </g>
      <g class="g1">
        <path d="M14 15.75C14 14.9216 14.9216 14 15.75 14L19.25 14C20.0784 14 21 14.9216 21 15.75V19.25C21 20.0784 20.0784 21 19.25 21H15.75C14.9216 21 14 20.0784 14 19.25V15.75Z" />
        <path d="M3 4.75C3 3.92157 3.92157 3 4.75 3L8.25 3C9.07843 3 10 3.92157 10 4.75V8.25C10 9.07843 9.07843 10 8.25 10H4.75C3.92157 10 3 9.07843 3 8.25V4.75Z" />
      </g>
    </symbol>
    <symbol id="masonry" class="masonryFill" fill="none" viewBox="0 0 24 24">
      <g class="g1">
        <path d="M12.5 17.4825C12.5 17.3011 12.6095 17.0512 12.8343 16.8302C13.0588 16.6094 13.3148 16.5 13.5 16.5H19.5C19.6852 16.5 19.9412 16.6094 20.1657 16.8302C20.3905 17.0512 20.5 17.3011 20.5 17.4825V19.4925C20.5 19.6759 20.3887 19.9332 20.1618 20.1612C19.9348 20.3894 19.6798 20.5 19.5 20.5H13.5C13.3202 20.5 13.0652 20.3894 12.8382 20.1612C12.6113 19.9332 12.5 19.6759 12.5 19.4925V17.4825Z" />
        <path d="M3.5 4.5C3.5 4.3193 3.61046 4.06408 3.83727 3.83727C4.06408 3.61046 4.3193 3.5 4.5 3.5H9.5C9.6807 3.5 9.93592 3.61046 10.1627 3.83727C10.3895 4.06408 10.5 4.3193 10.5 4.5V9.5C10.5 9.6807 10.3895 9.93592 10.1627 10.1627C9.93592 10.3895 9.6807 10.5 9.5 10.5H4.5C4.3193 10.5 4.06408 10.3895 3.83727 10.1627C3.61046 9.93592 3.5 9.6807 3.5 9.5V4.5Z" />
      </g>
      <g class="g2">
        <path d="M3.5 13.5C3.5 13.3193 3.61046 13.0641 3.83727 12.8373C4.06408 12.6105 4.3193 12.5 4.5 12.5H9.5C9.6807 12.5 9.93592 12.6105 10.1627 12.8373C10.3895 13.0641 10.5 13.3193 10.5 13.5V19.5C10.5 19.6807 10.3895 19.9359 10.1627 20.1627C9.93592 20.3895 9.6807 20.5 9.5 20.5H4.5C4.3193 20.5 4.06408 20.3895 3.83727 20.1627C3.61046 19.9359 3.5 19.6807 3.5 19.5V13.5Z" />
        <path d="M12.5 4.5C12.5 4.3193 12.6105 4.06408 12.8373 3.83727C13.0641 3.61046 13.3193 3.5 13.5 3.5H19.5C19.6807 3.5 19.9359 3.61046 20.1627 3.83727C20.3895 4.06408 20.5 4.3193 20.5 4.5V13.5C20.5 13.6807 20.3895 13.9359 20.1627 14.1627C19.9359 14.3895 19.6807 14.5 19.5 14.5H13.5C13.3193 14.5 13.0641 14.3895 12.8373 14.1627C12.6105 13.9359 12.5 13.6807 12.5 13.5V4.5Z" />
      </g>
    </symbol>
  </svg>
  <!-- image buttons -->
  <svg viewBox="0 0 24 24" display='none' xmlns="http://www.w3.org/2000/svg">
    <symbol id="svg--left" fill="none">
      <circle cx="12" cy="12" r="9.5" stroke="#D9D9D9" />
      <path d="M8.64645 11.6464C8.45118 11.8417 8.45118 12.1583 8.64645 12.3536L11.8284 15.5355C12.0237 15.7308 12.3403 15.7308 12.5355 15.5355C12.7308 15.3403 12.7308 15.0237 12.5355 14.8284L9.70711 12L12.5355 9.17157C12.7308 8.97631 12.7308 8.65973 12.5355 8.46447C12.3403 8.2692 12.0237 8.2692 11.8284 8.46447L8.64645 11.6464ZM9 12.5H9.5V11.5H9V12.5Z" />
    </symbol>
    <symbol id="svg--right" fill="none">
      <circle cx="12" cy="12" r="9.5" stroke="#D9D9D9" />
      <path d="M14.8536 12.3536C15.0488 12.1583 15.0488 11.8417 14.8536 11.6464L11.6716 8.46447C11.4763 8.2692 11.1597 8.2692 10.9645 8.46447C10.7692 8.65973 10.7692 8.97631 10.9645 9.17157L13.7929 12L10.9645 14.8284C10.7692 15.0237 10.7692 15.3403 10.9645 15.5355C11.1597 15.7308 11.4763 15.7308 11.6716 15.5355L14.8536 12.3536ZM14 12.5H14.5V11.5H14V12.5Z" />
    </symbol>
  </svg>
  <!-- Cups svgs -->
  <svg width="0" height="0" xmlns="http://www.w3.org/2000/svg">
    <clipPath id="clip0.1">
      <rect x="0" y="0" width="1.6" height="80" />
    </clipPath>
    <clipPath id="clip0.2">
      <rect x="0" y="0" width="3.2" height="80" />
    </clipPath>
    <clipPath id="clip0.3">
      <rect x="0" y="0" width="4.8" height="80" />
    </clipPath>
    <clipPath id="clip0.4">
      <rect x="0" y="0" width="6.4" height="80" />
    </clipPath>
    <clipPath id="clip0.5">
      <rect x="0" y="0" width="8" height="80" />
    </clipPath>
    <clipPath id="clip0.6">
      <rect x="0" y="0" width="9.6" height="80" />
    </clipPath>
    <clipPath id="clip0.7">
      <rect x="0" y="0" width="11.2" height="80" />
    </clipPath>
    <clipPath id="clip0.8">
      <rect x="0" y="0" width="12.8" height="80" />
    </clipPath>
    <clipPath id="clip0.9">
      <rect x="0" y="0" width="14.4" height="80" />
    </clipPath>

    <symbol id="cup" class="cup light" width="24" height="30" viewBox="0 0 16 20" fill="none">
      <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
      <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
      <path class="body" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
    </symbol>

    <symbol id="cupFill" class="cupFill" width="24" height="30" viewBox="0 0 16 20" fill="none">
      <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
      <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
      <path class="lid" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
    </symbol>

    <symbol id="fill0.1" width="24" height="30" viewBox="0 0 16 20" fill="none">
      <g class="cupFill" clip-path="url(#clip0.1)">
        <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
        <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
        <path class="lid" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
      </g>
      <g class="cup light">
        <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
        <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
        <path class="body" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
      </g>
    </symbol>
    <symbol id="fill0.2" width="24" height="30" viewBox="0 0 16 20" fill="none">
      <g class="cupFill" clip-path="url(#clip0.2)">
        <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
        <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
        <path class="lid" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
      </g>
      <g class="cup light">
        <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
        <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
        <path class="body" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
      </g>
    </symbol>
    <symbol id="fill0.3" width="24" height="30" viewBox="0 0 16 20" fill="none">
      <g class="cupFill" clip-path="url(#clip0.3)">
        <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
        <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
        <path class="lid" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
      </g>
      <g class="cup light">
        <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
        <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
        <path class="body" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
      </g>
    </symbol>
    <symbol id="fill0.4" width="24" height="30" viewBox="0 0 16 20" fill="none">
      <g class="cupFill" clip-path="url(#clip0.4)">
        <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
        <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
        <path class="lid" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
      </g>
      <g class="cup light">
        <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
        <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
        <path class="body" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
      </g>
    </symbol>
    <symbol id="fill0.5" width="24" height="30" viewBox="0 0 16 20" fill="none">
      <g class="cupFill " clip-path="url(#clip0.5)">
        <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
        <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
        <path class="lid" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
      </g>
      <g class="cup">
        <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
        <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
        <path class="body" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
      </g>
    </symbol>
    <symbol id="fill0.6" width="24" height="30" viewBox="0 0 16 20" fill="none">
      <g class="cupFill" clip-path="url(#clip0.6)">
        <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
        <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
        <path class="lid" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
      </g>
      <g class="cup light">
        <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
        <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
        <path class="body" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
      </g>
    </symbol>
    <symbol id="fill0.7" width="24" height="30" viewBox="0 0 16 20" fill="none">
      <g class="cupFill" clip-path="url(#clip0.7)">
        <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
        <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
        <path class="lid" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
      </g>
      <g class="cup light">
        <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
        <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
        <path class="body" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
      </g>
    </symbol>
    <symbol id="fill0.8" width="24" height="30" viewBox="0 0 16 20" fill="none">
      <g class="cupFill" clip-path="url(#clip0.8)">
        <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
        <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
        <path class="lid" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
      </g>
      <g class="cup light">
        <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
        <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
        <path class="body" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
      </g>
    </symbol>
    <symbol id="fill0.9" width="24" height="30" viewBox="0 0 16 20" fill="none">
      <g class="cupFill" clip-path="url(#clip0.9)">
        <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
        <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
        <path class="lid" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
      </g>
      <g class="cup light">
        <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
        <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
        <path class="body" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
      </g>
    </symbol>
  </svg>
  <!-- JAVASCRIPT -->
  <!-- <script src="https://npmcdn.com/colcade@0/colcade.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
  <script src="/js/simple-masonry-compiled.js"></script>
  <script src="/js/loaduser.js"></script>
  <script src="/js/coffeeShops.js"></script>
</body>

</html>