<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Accept-CH" content="DPR, Width">
  <link rel=" preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Sansita+Swashed:wght@300;400;500;600&display=swap" rel="stylesheet">
  <title>Coffee Shops</title>
  <!-- Customs Stylesheets -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/general.css">
  <link rel="stylesheet" href="/css/coffeeshops.css">
</head>

<body>
  <nav class="navbar">
    <ul>
      <li><a class="nav__el" href="/">
          <h3 class="inline navFont">Find Me Food Now!</h3>
        </a></li>
      <li><a class="nav__el" href="/coffeeshops">Home</a></li>
      <li class="justify-end margin-right">
        <a class="nav__user nav__user__a hide">
          <div class="login hide">Login</div>
        </a>
        <div class="nav__user nav__user__div hide">
          <div class="user hide">
            <div class="username"></div>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12.0001 13.8515L6.48512 8.2498V8.25C6.26252 8.03164 5.9431 7.94859 5.64459 8.03164C5.34628 8.11489 5.11313 8.35173 5.03115 8.65473C4.94939 8.95792 5.03115 9.28239 5.24613 9.50848L11.3805 15.7393C11.5448 15.9062 11.7676 16 12 16C12.2324 16 12.4552 15.9062 12.6195 15.7393L18.7539 9.50848C18.9688 9.28237 19.0506 8.95793 18.9688 8.65473C18.8869 8.35173 18.6537 8.11491 18.3554 8.03164C18.0569 7.94859 17.7375 8.03164 17.5149 8.25L12.0001 13.8515Z" fill="black" />
            </svg>
          </div>
          <div class="dropdown--content">
            <a class="dropdown--profile flex--centerAll">Profile</a>
            <form class="dropdown--logout flex--centerAll" action="/users/logout" method="POST">
              <div class="submit">Logout</div>
            </form>
          </div>
        </div>
      </li>
    </ul>
  </nav>

  <!-- SEARCH BAR AND GRID LAYOUT BUTTON -->
  <div class="container flex--centerAll">
    <div class="widgetBar">
      <!-- search input -->
      <div class="searchbar basis-90">
        <label for="searchbar__input" class="searchbar__wrapper">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="search">
            <path d="M20.82 19.9119L16.6143 15.7063C17.9008 14.1855 18.5499 12.2265 18.4255 10.2385C18.3012 8.25049 17.4135 6.38751 15.9476 5.03881C14.4816 3.69011 12.5512 2.96026 10.5596 3.00167C8.56818 3.04308 6.66974 3.85274 5.26123 5.2612C3.85272 6.66965 3.04308 8.56792 3.00167 10.5595C2.96026 12.551 3.69015 14.4813 5.03884 15.9474C6.38741 17.4133 8.25049 18.301 10.2386 18.4252C12.2266 18.5496 14.1857 17.9006 15.7065 16.6141L19.9122 20.8197C20.0752 20.9772 20.3092 21.0371 20.5279 20.9772C20.7464 20.9171 20.9171 20.7464 20.9772 20.5279C21.0371 20.3092 20.9772 20.0752 20.8197 19.9122L20.82 19.9119ZM4.31877 10.7373C4.31877 9.03488 4.99508 7.40221 6.19891 6.19861C7.4026 4.99479 9.0353 4.3185 10.7377 4.3185C12.4401 4.3185 14.0728 4.99479 15.2765 6.19861C16.4803 7.40228 17.1566 9.03496 17.1566 10.7373C17.1566 12.4397 16.4803 14.0724 15.2765 15.276C14.0728 16.4798 12.4401 17.1561 10.7377 17.1561C9.03581 17.1543 7.40425 16.4774 6.20075 15.274C4.99724 14.0707 4.32046 12.4391 4.31863 10.7372L4.31877 10.7373Z" />
          </svg>


        </label>
        <form class="searchbar__input" action="/coffeeShops" method="GET">
          <input class="searchbar__input__text" type="search" name="search" placeholder="Search for Restaurants">
        </form>
      </div>
      <!-- button to change the grid layout -->
      <div class="dropdown dropdown--svg">
        <div class="dropdown__toggle">
          <button class="button button--none">
            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="masonry">
              <g id="masonryFill">
                <path id="items" d="M3.5 4.5C3.5 4.3193 3.61046 4.06408 3.83727 3.83727C4.06408 3.61046 4.3193 3.5 4.5 3.5H9.5C9.6807 3.5 9.93592 3.61046 10.1627 3.83727C10.3895 4.06408 10.5 4.3193 10.5 4.5V9.42857C10.5 9.61468 10.3845 9.89104 10.1522 10.1379C9.91811 10.3866 9.66566 10.5 9.5 10.5H4.5C4.3193 10.5 4.06408 10.3895 3.83727 10.1627C3.61046 9.93592 3.5 9.6807 3.5 9.5V4.5ZM12.5 4.5C12.5 4.3193 12.6105 4.06408 12.8373 3.83727C13.0641 3.61046 13.3193 3.5 13.5 3.5H19.5C19.6807 3.5 19.9359 3.61046 20.1627 3.83727C20.3895 4.06408 20.5 4.3193 20.5 4.5V13.5C20.5 13.6807 20.3895 13.9359 20.1627 14.1627C19.9359 14.3895 19.6807 14.5 19.5 14.5H13.5C13.3193 14.5 13.0641 14.3895 12.8373 14.1627C12.6105 13.9359 12.5 13.6807 12.5 13.5V4.5ZM3.5 13.5C3.5 13.3193 3.61046 13.0641 3.83727 12.8373C4.06408 12.6105 4.3193 12.5 4.5 12.5H9.42857C9.61468 12.5 9.89104 12.6155 10.1379 12.8478C10.3866 13.0819 10.5 13.3343 10.5 13.5V19.5C10.5 19.6807 10.3895 19.9359 10.1627 20.1627C9.93592 20.3895 9.6807 20.5 9.5 20.5H4.5C4.3193 20.5 4.06408 20.3895 3.83727 20.1627C3.61046 19.9359 3.5 19.6807 3.5 19.5V13.5ZM12.5 17.5C12.5 17.3193 12.6105 17.0641 12.8373 16.8373C13.0641 16.6105 13.3193 16.5 13.5 16.5H19.5C19.6807 16.5 19.9359 16.6105 20.1627 16.8373C20.3895 17.0641 20.5 17.3193 20.5 17.5V19.5C20.5 19.6807 20.3895 19.9359 20.1627 20.1627C19.9359 20.3895 19.6807 20.5 19.5 20.5H13.5C13.3193 20.5 13.0641 20.3895 12.8373 20.1627C12.6105 19.9359 12.5 19.6807 12.5 19.5V17.5Z" shape-rendering="auto" />
              </g>
            </svg>
          </button>
          <button class="button button--none">
            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="arrowDown">
              <path d="M12.0001 13.8515L6.48512 8.2498V8.25C6.26252 8.03164 5.9431 7.94859 5.64459 8.03164C5.34628 8.11489 5.11313 8.35173 5.03115 8.65473C4.94939 8.95792 5.03115 9.28239 5.24613 9.50848L11.3805 15.7393C11.5448 15.9062 11.7676 16 12 16C12.2324 16 12.4552 15.9062 12.6195 15.7393L18.7539 9.50848C18.9688 9.28237 19.0506 8.95793 18.9688 8.65473C18.8869 8.35173 18.6537 8.11491 18.3554 8.03164C18.0569 7.94859 17.7375 8.03164 17.5149 8.25L12.0001 13.8515Z" />
            </svg>
          </button>
        </div>
        <div class="dropdown__drawer">
          <ul class="menu menu--svg">
            <li id="masonry-grid">
              <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="masonry">
                <g id="masonryFill">
                  <path id="items" d="M3.5 4.5C3.5 4.3193 3.61046 4.06408 3.83727 3.83727C4.06408 3.61046 4.3193 3.5 4.5 3.5H9.5C9.6807 3.5 9.93592 3.61046 10.1627 3.83727C10.3895 4.06408 10.5 4.3193 10.5 4.5V9.42857C10.5 9.61468 10.3845 9.89104 10.1522 10.1379C9.91811 10.3866 9.66566 10.5 9.5 10.5H4.5C4.3193 10.5 4.06408 10.3895 3.83727 10.1627C3.61046 9.93592 3.5 9.6807 3.5 9.5V4.5ZM12.5 4.5C12.5 4.3193 12.6105 4.06408 12.8373 3.83727C13.0641 3.61046 13.3193 3.5 13.5 3.5H19.5C19.6807 3.5 19.9359 3.61046 20.1627 3.83727C20.3895 4.06408 20.5 4.3193 20.5 4.5V13.5C20.5 13.6807 20.3895 13.9359 20.1627 14.1627C19.9359 14.3895 19.6807 14.5 19.5 14.5H13.5C13.3193 14.5 13.0641 14.3895 12.8373 14.1627C12.6105 13.9359 12.5 13.6807 12.5 13.5V4.5ZM3.5 13.5C3.5 13.3193 3.61046 13.0641 3.83727 12.8373C4.06408 12.6105 4.3193 12.5 4.5 12.5H9.42857C9.61468 12.5 9.89104 12.6155 10.1379 12.8478C10.3866 13.0819 10.5 13.3343 10.5 13.5V19.5C10.5 19.6807 10.3895 19.9359 10.1627 20.1627C9.93592 20.3895 9.6807 20.5 9.5 20.5H4.5C4.3193 20.5 4.06408 20.3895 3.83727 20.1627C3.61046 19.9359 3.5 19.6807 3.5 19.5V13.5ZM12.5 17.5C12.5 17.3193 12.6105 17.0641 12.8373 16.8373C13.0641 16.6105 13.3193 16.5 13.5 16.5H19.5C19.6807 16.5 19.9359 16.6105 20.1627 16.8373C20.3895 17.0641 20.5 17.3193 20.5 17.5V19.5C20.5 19.6807 20.3895 19.9359 20.1627 20.1627C19.9359 20.3895 19.6807 20.5 19.5 20.5H13.5C13.3193 20.5 13.0641 20.3895 12.8373 20.1627C12.6105 19.9359 12.5 19.6807 12.5 19.5V17.5Z" shape-rendering="auto" />
                </g>
              </svg>
              <p>Masonry</p>
            </li>
            <li id="large-grid">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="largeFill">
                <g id="largeFill">
                  <path id="items" d="M3.5 4.57143C3.5 4.39073 3.61046 4.13551 3.83727 3.9087C4.06408 3.68189 4.3193 3.57143 4.5 3.57143H10C10.1962 3.57143 10.4546 3.67819 10.6743 3.88418C10.895 4.09116 11 4.32508 11 4.5V10C11 10.1807 10.8895 10.4359 10.6627 10.6627C10.4359 10.8895 10.1807 11 10 11H4.5C4.31931 11 4.06409 10.8895 3.83727 10.6627C3.61046 10.4359 3.5 10.1807 3.5 10V4.57143ZM13 4.5C13 4.3193 13.1105 4.06408 13.3373 3.83727C13.5641 3.61046 13.8193 3.5 14 3.5H19.5C19.6807 3.5 19.9359 3.61046 20.1627 3.83727C20.3895 4.06409 20.5 4.31931 20.5 4.5V10C20.5 10.1807 20.3895 10.4359 20.1627 10.6627C19.9359 10.8895 19.6807 11 19.5 11H14C13.8193 11 13.5641 10.8895 13.3373 10.6627C13.1105 10.4359 13 10.1807 13 10V4.5ZM3.5 14C3.5 13.8193 3.61046 13.5641 3.83727 13.3373C4.06408 13.1105 4.3193 13 4.5 13H10C10.1807 13 10.4359 13.1105 10.6627 13.3373C10.8895 13.5641 11 13.8193 11 14V19.5C11 19.6807 10.8895 19.9359 10.6627 20.1627C10.4359 20.3895 10.1807 20.5 10 20.5H4.5C4.31931 20.5 4.06409 20.3895 3.83728 20.1627C3.61047 19.9359 3.5 19.6807 3.5 19.5L3.5 14ZM13 14C13 13.8193 13.1105 13.5641 13.3373 13.3373C13.5641 13.1105 13.8193 13 14 13H19.5C19.6807 13 19.9359 13.1105 20.1627 13.3373C20.3895 13.5641 20.5 13.8193 20.5 14V19.4286C20.5 19.6147 20.3845 19.891 20.1522 20.1379C19.9181 20.3866 19.6657 20.5 19.5 20.5H14C13.8193 20.5 13.5641 20.3895 13.3373 20.1627C13.1105 19.9359 13 19.6807 13 19.5V14Z" />
                </g>
              </svg>
              <p>Large</p>
            </li>
            <li id="small-grid">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="smallFill">
                <g id="smallFill">
                  <path id="items" d="M2.5 7C2.5 6.81931 2.61046 6.56409 2.83727 6.33727C3.06408 6.11046 3.3193 6 3.5 6L6.5 6C6.6807 6 6.93591 6.11046 7.16273 6.33727C7.38954 6.56409 7.5 6.81931 7.5 7V10C7.5 10.1807 7.38954 10.4359 7.16273 10.6627C6.93592 10.8895 6.6807 11 6.5 11H3.5C3.3193 11 3.06408 10.8895 2.83727 10.6627C2.61046 10.4359 2.5 10.1807 2.5 10V7ZM9.5 7C9.5 6.81931 9.61046 6.56409 9.83727 6.33727C10.0641 6.11046 10.3193 6 10.5 6L13.5 6C13.6807 6 13.9359 6.11046 14.1627 6.33727C14.3895 6.56409 14.5 6.81931 14.5 7V10C14.5 10.1807 14.3895 10.4359 14.1627 10.6627C13.9359 10.8895 13.6807 11 13.5 11H10.5C10.3193 11 10.0641 10.8895 9.83727 10.6627C9.61046 10.4359 9.5 10.1807 9.5 10V7ZM16.5 7C16.5 6.81931 16.6105 6.56409 16.8373 6.33727C17.0641 6.11046 17.3193 6 17.5 6L20.5 6C20.6807 6 20.9359 6.11046 21.1627 6.33727C21.3895 6.56409 21.5 6.81931 21.5 7V10C21.5 10.1807 21.3895 10.4359 21.1627 10.6627C20.9359 10.8895 20.6807 11 20.5 11H17.5C17.3193 11 17.0641 10.8895 16.8373 10.6627C16.6105 10.4359 16.5 10.1807 16.5 10V7ZM2.5 14C2.5 13.8193 2.61046 13.5641 2.83727 13.3373C3.06408 13.1105 3.3193 13 3.5 13L6.5 13C6.6807 13 6.93591 13.1105 7.16273 13.3373C7.38954 13.5641 7.5 13.8193 7.5 14V17C7.5 17.1807 7.38954 17.4359 7.16273 17.6627C6.93592 17.8895 6.6807 18 6.5 18H3.5C3.3193 18 3.06408 17.8895 2.83727 17.6627C2.61046 17.4359 2.5 17.1807 2.5 17V14ZM9.5 14C9.5 13.8193 9.61046 13.5641 9.83727 13.3373C10.0641 13.1105 10.3193 13 10.5 13L13.5 13C13.6807 13 13.9359 13.1105 14.1627 13.3373C14.3895 13.5641 14.5 13.8193 14.5 14V17C14.5 17.1807 14.3895 17.4359 14.1627 17.6627C13.9359 17.8895 13.6807 18 13.5 18H10.5C10.3193 18 10.0641 17.8895 9.83727 17.6627C9.61046 17.4359 9.5 17.1807 9.5 17V14ZM16.5 14C16.5 13.8193 16.6105 13.5641 16.8373 13.3373C17.0641 13.1105 17.3193 13 17.5 13L20.5 13C20.6807 13 20.9359 13.1105 21.1627 13.3373C21.3895 13.5641 21.5 13.8193 21.5 14V17C21.5 17.1807 21.3895 17.4359 21.1627 17.6627C20.9359 17.8895 20.6807 18 20.5 18H17.5C17.3193 18 17.0641 17.8895 16.8373 17.6627C16.6105 17.4359 16.5 17.1807 16.5 17V14Z" />
                </g>
              </svg>
              <p>Small</p>
            </li>
          </ul>
        </div>
      </div>
    </div>


  </div>
  <!-- COFFEE SHOP CARDS -->
  <div class="container-fluid">
    <div class="row">

      <div class="grid col-lg-3 col-md-4 col-sm-6 col-xs-12" data-col="0">
        <% shops.forEach(coffeeShop => { %>
        <div class="card card--v2">
          <div class="card__image carousel">
            <% for(let i = 0; i < coffeeShop.images.length; i++) { %>
            <% if(i === 0) { %>
            <a href="/coffeeShops/<%=coffeeShop._id%>">
              <img class="active carousel__image" data-src="<%=coffeeShop.images[i].filename%>" alt="...">
            </a>
            <% } else { %>
            <a href="/coffeeShops/<%=coffeeShop._id%>">
              <img class="carousel__image" data-src="<%=coffeeShop.images[i].filename%>" alt="...">
            </a>
            <% }} %>
            <div class="card__image__top">
              <h5><a href="/coffeeShops/<%=coffeeShop._id%>"><%=coffeeShop.name%></a>
              </h5>
            </div>
            <div class="card__image__bottom">
              <p>
                <%=coffeeShop.avgRating%>
              </p>
              <div class="rating" data-rating="<%=coffeeShop.avgRating%>">
                <svg width="24" height="30">
                  <use href="#cup"></use>
                </svg>
                <svg width="24" height="30">
                  <use href="#cup"></use>
                </svg>
                <svg width="24" height="30">
                  <use href="#cup"></use>
                </svg>
                <svg width="24" height="30">
                  <use href="#cup"></use>
                </svg>
                <svg width="24" height="30">
                  <use href="#cup"></use>
                </svg>
              </div>
            </div>
            <svg width="48" height="48" viewBox="0 0 24 24" class="button--svg button--left hide">
              <use href="#svg--left"></use>
            </svg>
            <svg width="48" height="48" viewBox="0 0 24 24" class="button--svg button--right hide">
              <use href="#svg--right"></use>
            </svg>
          </div>
        </div>
        <% }) %>
      </div>

      <div class="grid col-lg-3 col-md-4 col-sm-6 col-xs-12" data-col="1"></div>
      <div class="grid col-lg-3 col-md-4 col-sm-6 col-xs-12" data-col="2"></div>
      <div class="grid col-lg-3 col-md-4 col-sm-6 col-xs-12" data-col="3"></div>

    </div>
  </div>




  <footer>
    <p>The Footer. &copy; 2019 Turkey Stuff Inc.</p>
  </footer>
  </div>


  <!-- SVGs  -->
  <!-- layouts -->
  <svg display='none' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px">
  </svg>
  <svg class="gridLarge" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <symbol id="grid-large" fill="none">
      <g id="items">
        <rect id="Rectangle 2" x="4" y="13" rx="1" stroke="#D9D9D9" />
        <rect id="Rectangle 7" x="10" y="13" rx="1" stroke="#D9D9D9" />
        <rect id="Rectangle 8" x="16" y="13" rx="1" stroke="#D9D9D9" />
        <rect id="Rectangle 9" x="4" y="6" rx="1" stroke="#D9D9D9" />
        <rect id="Rectangle 10" x="10" y="6" rx="1" stroke="#D9D9D9" />
        <rect id="Rectangle 11" x="16" y="6" rx="1" stroke="#D9D9D9" />
      </g>
      <rect id="outline" x="2.5" y="4.5" rx="0.5" stroke="black" />
    </symbol>
  </svg>

  <svg display="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <symbol id="grid-small" fill="none">
      <g id="items">
        <rect id="Rectangle 2" x="5.5" y="5.5" rx="0.5" stroke="#D9D9D9" />
        <rect id="Rectangle 4" x="5.5" y="11.5" rx="0.5" stroke="#D9D9D9" />
        <rect id="Rectangle 15" x="10.5" y="11.5" rx="0.5" stroke="#D9D9D9" />
        <rect id="Rectangle 5" x="10.5" y="5.5" rx="0.5" stroke="#D9D9D9" />
        <rect id="Rectangle 12" x="15.5" y="11.5" rx="0.5" stroke="#D9D9D9" />
        <rect id="Rectangle 14" x="15.5" y="5.5" rx="0.5" stroke="#D9D9D9" />
        <path id="Vector 10" d="M5.5 19.5V18.1C5.5 17.7686 5.76863 17.5 6.1 17.5H7H7.9C8.23137 17.5 8.5 17.7686 8.5 18.1V19.5" stroke="#D9D9D9" stroke-linecap="square" />
        <path id="Vector 11" d="M10.5 19.5V18.1C10.5 17.7686 10.7686 17.5 11.1 17.5H12H12.9C13.2314 17.5 13.5 17.7686 13.5 18.1V19.5" stroke="#D9D9D9" stroke-linecap="square" />
        <path id="Vector 12" d="M15.5 19.5V18.1C15.5 17.7686 15.7686 17.5 16.1 17.5H17H17.9C18.2314 17.5 18.5 17.7686 18.5 18.1V19.5" stroke="#D9D9D9" stroke-linecap="square" />
      </g>
      <rect id="outline" x="3.5" y="3.5" rx="0.5" stroke="black" />
    </symbol>
  </svg>

  <svg display='none' viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <symbol id="masonry" fill="none">
      <rect x="5.5" y="5.5" rx="0.5" stroke="#D9D9D9" />
      <rect x="12.5" y="5.5" rx="0.5" stroke="#D9D9D9" />
      <rect x="5.5" y="12.5" rx="0.5" stroke="#D9D9D9" />
      <rect x="12.5" y="15.5" rx="0.5" stroke="#D9D9D9" />
      <rect x="3.5" y="3.5" rx="0.5" stroke="black" />
    </symbol>
  </svg>
  <!-- image buttons -->
  <svg viewBox="0 0 24 24" display='none' xmlns="http://www.w3.org/2000/svg">
    <symbol id="svg--left" fill="none">
      <circle cx="12" cy="12" r="9.5" stroke="#D9D9D9" />
      <path d="M8.64645 11.6464C8.45118 11.8417 8.45118 12.1583 8.64645 12.3536L11.8284 15.5355C12.0237 15.7308 12.3403 15.7308 12.5355 15.5355C12.7308 15.3403 12.7308 15.0237 12.5355 14.8284L9.70711 12L12.5355 9.17157C12.7308 8.97631 12.7308 8.65973 12.5355 8.46447C12.3403 8.2692 12.0237 8.2692 11.8284 8.46447L8.64645 11.6464ZM9 12.5H9.5V11.5H9V12.5Z" />
    </symbol>
  </svg>
  <svg viewBox="0 0 24 24" display='none' xmlns="http://www.w3.org/2000/svg">
    <symbol id="svg--right" fill="none">
      <circle cx="12" cy="12" r="9.5" stroke="#D9D9D9" />
      <path d="M14.8536 12.3536C15.0488 12.1583 15.0488 11.8417 14.8536 11.6464L11.6716 8.46447C11.4763 8.2692 11.1597 8.2692 10.9645 8.46447C10.7692 8.65973 10.7692 8.97631 10.9645 9.17157L13.7929 12L10.9645 14.8284C10.7692 15.0237 10.7692 15.3403 10.9645 15.5355C11.1597 15.7308 11.4763 15.7308 11.6716 15.5355L14.8536 12.3536ZM14 12.5H14.5V11.5H14V12.5Z" />
    </symbol>
  </svg>
  <svg width="0" height="0" xmlns="http://www.w3.org/2000/svg">
    <clipPath id="clip0.1">
      <rect x="0" y="0" width="1.6" height="80" />
    </clipPath>
    <clipPath id="clip0.2">
      <rect x="0" y="0" width="3.2" height="80" />
    </clipPath>
    <clipPath id="clip0.3">
      <rect x="0" y="0" width="4.8" height="80" />
    </clipPath>
    <clipPath id="clip0.4">
      <rect x="0" y="0" width="6.4" height="80" />
    </clipPath>
    <clipPath id="clip0.5">
      <rect x="0" y="0" width="8" height="80" />
    </clipPath>
    <clipPath id="clip0.6">
      <rect x="0" y="0" width="9.6" height="80" />
    </clipPath>
    <clipPath id="clip0.7">
      <rect x="0" y="0" width="11.2" height="80" />
    </clipPath>
    <clipPath id="clip0.8">
      <rect x="0" y="0" width="12.8" height="80" />
    </clipPath>
    <clipPath id="clip0.9">
      <rect x="0" y="0" width="14.4" height="80" />
    </clipPath>

    <symbol id="cup" class="cup light" width="24" height="30" viewBox="0 0 16 20" fill="none">
      <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
      <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
      <path class="body" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
    </symbol>

    <symbol id="cupFill" class="cupFill" width="24" height="30" viewBox="0 0 16 20" fill="none">
      <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
      <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
      <path class="lid" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
    </symbol>

    <symbol id="fill0.1" width="24" height="30" viewBox="0 0 16 20" fill="none">
      <g class="cupFill" clip-path="url(#clip0.1)">
        <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
        <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
        <path class="lid" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
      </g>
      <g class="cup light">
        <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
        <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
        <path class="body" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
      </g>
    </symbol>
    <symbol id="fill0.2" width="24" height="30" viewBox="0 0 16 20" fill="none">
      <g class="cupFill" clip-path="url(#clip0.2)">
        <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
        <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
        <path class="lid" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
      </g>
      <g class="cup light">
        <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
        <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
        <path class="body" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
      </g>
    </symbol>
    <symbol id="fill0.3" width="24" height="30" viewBox="0 0 16 20" fill="none">
      <g class="cupFill" clip-path="url(#clip0.3)">
        <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
        <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
        <path class="lid" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
      </g>
      <g class="cup light">
        <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
        <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
        <path class="body" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
      </g>
    </symbol>
    <symbol id="fill0.4" width="24" height="30" viewBox="0 0 16 20" fill="none">
      <g class="cupFill" clip-path="url(#clip0.4)">
        <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
        <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
        <path class="lid" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
      </g>
      <g class="cup light">
        <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
        <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
        <path class="body" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
      </g>
    </symbol>
    <symbol id="fill0.5" width="24" height="30" viewBox="0 0 16 20" fill="none">
      <g class="cupFill" clip-path="url(#clip0.5)">
        <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
        <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
        <path class="lid" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
      </g>
      <g class="cup">
        <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
        <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
        <path class="body" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
      </g>
    </symbol>
    <symbol id="fill0.6" width="24" height="30" viewBox="0 0 16 20" fill="none">
      <g class="cupFill" clip-path="url(#clip0.6)">
        <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
        <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
        <path class="lid" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
      </g>
      <g class="cup light">
        <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
        <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
        <path class="body" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
      </g>
    </symbol>
    <symbol id="fill0.7" width="24" height="30" viewBox="0 0 16 20" fill="none">
      <g class="cupFill" clip-path="url(#clip0.7)">
        <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
        <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
        <path class="lid" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
      </g>
      <g class="cup light">
        <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
        <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
        <path class="body" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
      </g>
    </symbol>
    <symbol id="fill0.8" width="24" height="30" viewBox="0 0 16 20" fill="none">
      <g class="cupFill" clip-path="url(#clip0.8)">
        <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
        <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
        <path class="lid" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
      </g>
      <g class="cup light">
        <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
        <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
        <path class="body" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
      </g>
    </symbol>
    <symbol id="fill0.9" width="24" height="30" viewBox="0 0 16 20" fill="none">
      <g class="cupFill" clip-path="url(#clip0.9)">
        <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
        <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
        <path class="lid" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
      </g>
      <g class="cup light">
        <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
        <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
        <path class="body" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
      </g>
    </symbol>
  </svg>
  <!-- JAVASCRIPT -->
  <!-- <script src="https://npmcdn.com/colcade@0/colcade.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
  <script src="/js/simple-masonry-compiled.js"></script>
  <script src="/js/loaduser.js"></script>
  <script src="/js/coffeeShops.js"></script>
</body>

</html>