<%- include('../templates/header', {title: 'Coffee Shop Showpage', stylesheet: ""}) %>
<%- include('../templates/navbar', {nav: 'navbar margin-0'}) %>

<!-- Coffee Shop -->
<div class="container container--100">
  <div class="card card--showpage carousel">
    <% for(let i = 0; i < coffeeShop.images.length; i++) { %>
    <img class="active carousel__image" data-src="<%=coffeeShop.images[i].filename%>" alt="...">
    <% } %>
    <svg width="48" height="48" viewBox="0 0 24 24" class="button--svg button--left" tabindex="0">
      <use href="#svg--left"></use>
    </svg>
    <svg width="48" height="48" viewBox="0 0 24 24" class="button--svg button--right" tabindex="0">
      <use href="#svg--right"></use>
    </svg>
    <div class="card__title">
      <h3><%=coffeeShop.name%></h3>
    </div>
  </div>
</div>

<!-- DESCRIPTION -->
<div class="container margin-top">
  <p class="font-small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, magnam. Ipsa minima est commodi totam, excepturi distinctio possimus sequi porro quibusdam ipsam sunt aspernatur ad rerum unde optio doloremque iste?</p>
  <%if(user && String(user._id) === String(coffeeShop.author)) {%>
  <div class="container container--flex">
    <a class="button" href="/coffeeshops/<%=coffeeShop._id%>/edit">Edit</a>
    <button class="button button--danger openModal" data-modal="modal-1">Delete</button>
    <dialog id="modal-1">
      <button class="closeModal" type="button"></button>
      <h2>Are you absolutely sure?</h2>
      <p>
        This action cannot be undone. This will permanently delete the coffee shop, and all related information
      </p>
      <form action="/coffeeshops/<%=coffeeShop._id%>?_method=DELETE" method="POST">
        <button class="button button--danger">I understand, delete this coffee shop</button>
      </form>
    </dialog>
  </div>
  <%}%>
</div>

<!-- REVIEW SECTION -->
<div class=" container margin-top">

        <!-- Slightly different message depending on if there are reviews or not -->
        <%if(coffeeShop.reviews.length === 0) {%>
  <h3>Be the first to review this cafe!</h3>
  <%} else {%>
  <h3>Reviews</h3>
  <%}%>


    <!-- Slightly different "make a comment" template shown depending on if the user is logged in or not -->
  
  <form action="/coffeeShops/<%=coffeeShop._id%>/reviews" method="POST" class="comment">
  <div class="comment__picture">
    <img src="<%- !user ? 'https://res.cloudinary.com/christianjosuebt/image/upload/w_200,h_200,c_limit,e_blur:400,o_90,b_black/l_text:arial_80:®,ar_1:1,c_lfill,o_60,co_rgb:ffffff,b_rgb:000000,r_max/v1619026522/coffeeShops/smile_bpkzip.svg' : user.profilePicture.url %>" alt="">
  </div>
  <div class="comment__main">
    <div class="comment__main__body flex flex--column">
      <%if(!user) {%>
      <a href="/users/login">
        <input class="input" type="text" name="review[body]" placeholder="Leave a review..." required>
      </a>
      <% } else { %>
      <input class="input" type="text" name="review[body]" placeholder="Leave a review..." required>
      <% } %>
      <svg class="line" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 2" preserveAspectRatio="none">
        <path class="default" d="M0 1 L40 1"></path>
        <path class="hidden" d="M0 1 L40 1"></path>
      </svg>
      <input type="hidden" name="review[author]" value="none">
    </div>
    <div class="comment__aside hide">
      <div class="comment__aside__rating">
        <div id="makeRating" class="flex rating">
          <svg viewBox="0 0 16 32" width="48" height="48" data-rating="1">
            <use href="#cup"></use>
          </svg>
          <svg viewBox="0 0 16 32" width="48" height="48" data-rating="2">
            <use href="#cup"></use>
          </svg>
          <svg viewBox="0 0 16 32" width="48" height="48" data-rating="3">
            <use href="#cup"></use>
          </svg>
          <svg viewBox="0 0 16 32" width="48" height="48" data-rating="4">
            <use href="#cup"></use>
          </svg>
          <svg viewBox="0 0 16 32" width="48" height="48" data-rating="5">
            <use href="#cup"></use>
          </svg>
          <input type="hidden" name="review[rating]" min="0" max="5" step="1">
        </div>
        <!-- <input type="number" name="review[rating]" min="0" max="5" step="1" class="stars--rating label"> -->
      </div>
      <div class="comment__aside__buttons justify-end">
        <button id="cancel" type="button" class="button button--danger">Cancel</button>
        <button class="button button--success">Submit</button>
      </div>
    </div>
  </div>
  </form>

  <!-- display all the reviews for this coffeeshop  -->
  <%for(let i = 0; i < coffeeShop.reviews.length; i++) {%>
  <div class="container--100">
    <div class="comment">
      <div class="comment__picture">
        <img src="<%=coffeeShop.reviews[i].author[0].profilePicture.url%>" alt="">
      </div>
      <div class="comment__main">
        <div class="comment__main__title">
          <%=coffeeShop.reviews[i].author[0].username%>
          <!-- SVG STARS -->
          <div id="rating" class="flex rating" data-rating="<%=coffeeShop.reviews[i].rating%>">
            <svg viewBox="0 0 16 32" width="48" height="48">
              <use href="#cup"></use>
            </svg>
            <svg viewBox="0 0 16 32" width="48" height="48">
              <use href="#cup"></use>
            </svg>
            <svg viewBox="0 0 16 32" width="48" height="48">
              <use href="#cup"></use>
            </svg>
            <svg viewBox="0 0 16 32" width="48" height="48">
              <use href="#cup"></use>
            </svg>
            <svg viewBox="0 0 16 32" width="48" height="48">
              <use href="#cup"></use>
            </svg>
          </div>
        </div>
        <div class="comment__main__body">
          <%=coffeeShop.reviews[i].body%>
        </div>
      </div>
    </div>
  </div>
  <%}%>
</div>



<script src="/js/loaduser.js"></script>
<script src="/js/showpage.js"></script>

<!-- cup svgs (special 16 by 20 icons) -->
<svg width="0" height="0" xmlns="http://www.w3.org/2000/svg">
  <clipPath id="clip0.1">
    <rect x="0" y="0" width="1.6" height="80" />
  </clipPath>
  <clipPath id="clip0.2">
    <rect x="0" y="0" width="3.2" height="80" />
  </clipPath>
  <clipPath id="clip0.3">
    <rect x="0" y="0" width="4.8" height="80" />
  </clipPath>
  <clipPath id="clip0.4">
    <rect x="0" y="0" width="6.4" height="80" />
  </clipPath>
  <clipPath id="clip0.5">
    <rect x="0" y="0" width="8" height="80" />
  </clipPath>
  <clipPath id="clip0.6">
    <rect x="0" y="0" width="9.6" height="80" />
  </clipPath>
  <clipPath id="clip0.7">
    <rect x="0" y="0" width="11.2" height="80" />
  </clipPath>
  <clipPath id="clip0.8">
    <rect x="0" y="0" width="12.8" height="80" />
  </clipPath>
  <clipPath id="clip0.9">
    <rect x="0" y="0" width="14.4" height="80" />
  </clipPath>

  <symbol id="cup" class="cup" width="24" height="30" viewBox="0 0 16 20" fill="none">
    <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
    <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
    <path class="body" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
  </symbol>

  <symbol id="cupFill" class="cupFill" width="24" height="30" viewBox="0 0 16 20" fill="none">
    <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
    <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
    <path class="lid" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
  </symbol>

  <symbol id="fill0.1" width="24" height="30" viewBox="0 0 16 20" fill="none">
    <g class="cupFill" clip-path="url(#clip0.1)">
      <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
      <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
      <path class="lid" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
    </g>
    <g class="cup">
      <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
      <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
      <path class="body" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
    </g>
  </symbol>
  <symbol id="fill0.2" width="24" height="30" viewBox="0 0 16 20" fill="none">
    <g class="cupFill" clip-path="url(#clip0.2)">
      <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
      <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
      <path class="lid" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
    </g>
    <g class="cup">
      <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
      <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
      <path class="body" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
    </g>
  </symbol>
  <symbol id="fill0.3" width="24" height="30" viewBox="0 0 16 20" fill="none">
    <g class="cupFill" clip-path="url(#clip0.3)">
      <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
      <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
      <path class="lid" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
    </g>
    <g class="cup">
      <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
      <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
      <path class="body" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
    </g>
  </symbol>
  <symbol id="fill0.4" width="24" height="30" viewBox="0 0 16 20" fill="none">
    <g class="cupFill" clip-path="url(#clip0.4)">
      <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
      <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
      <path class="lid" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
    </g>
    <g class="cup">
      <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
      <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
      <path class="body" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
    </g>
  </symbol>
  <symbol id="fill0.5" width="24" height="30" viewBox="0 0 16 20" fill="none">
    <g class="cupFill " clip-path="url(#clip0.5)">
      <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
      <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
      <path class="lid" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
    </g>
    <g class="cup">
      <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
      <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
      <path class="body" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
    </g>
  </symbol>
  <symbol id="fill0.6" width="24" height="30" viewBox="0 0 16 20" fill="none">
    <g class="cupFill" clip-path="url(#clip0.6)">
      <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
      <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
      <path class="lid" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
    </g>
    <g class="cup">
      <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
      <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
      <path class="body" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
    </g>
  </symbol>
  <symbol id="fill0.7" width="24" height="30" viewBox="0 0 16 20" fill="none">
    <g class="cupFill" clip-path="url(#clip0.7)">
      <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
      <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
      <path class="lid" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
    </g>
    <g class="cup">
      <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
      <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
      <path class="body" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
    </g>
  </symbol>
  <symbol id="fill0.8" width="24" height="30" viewBox="0 0 16 20" fill="none">
    <g class="cupFill" clip-path="url(#clip0.8)">
      <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
      <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
      <path class="lid" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
    </g>
    <g class="cup">
      <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
      <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
      <path class="body" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
    </g>
  </symbol>
  <symbol id="fill0.9" width="24" height="30" viewBox="0 0 16 20" fill="none">
    <g class="cupFill" clip-path="url(#clip0.9)">
      <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
      <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
      <path class="lid" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
    </g>
    <g class="cup">
      <path class="body" d="M2 6L14 6L12.9086 15.4585C12.7142 17.1436 12.617 17.9861 12.0482 18.4931C11.4794 19 10.6313 19 8.935 19L7.065 19C5.36873 19 4.52059 19 3.9518 18.4931C3.38302 17.9861 3.2858 17.1436 3.09136 15.4585L2 6Z" />
      <path class="cupHolder" d="M5.69231 9.75V13.0556M8.46154 13.0556V9.75M9.84615 13.0556V9.75M4.30769 13.0556V9.75M11.2308 13.0556V9.75M7.07692 13.0556V9.75M12.9958 8C13.4962 8 13.7464 8 13.8909 8.12772C14.0354 8.25544 14.0109 8.45494 13.9618 8.85396L13.2931 14.2984C13.2521 14.6318 13.2316 14.7985 13.0929 14.8993C12.9542 15 12.7451 15 12.3271 15H3.67294C3.25485 15 3.0458 15 2.90708 14.8993C2.76836 14.7985 2.74789 14.6318 2.70693 14.2984L2.03816 8.85396C1.98915 8.45494 1.96464 8.25544 2.10911 8.12772C2.25359 8 2.50378 8 3.00417 8L12.9958 8Z" stroke-linecap="round" />
      <path class="body" d="M2.4 4L3.11464 1.70293C3.24471 1.28485 3.63165 1 4.0695 1H11.9305C12.3684 1 12.7553 1.28485 12.8854 1.70293L13.6 4M2.4 4H2C1.44772 4 1 4.44772 1 5V5C1 5.55228 1.44772 6 2 6H14C14.5523 6 15 5.55228 15 5V5C15 4.44772 14.5523 4 14 4H13.6M2.4 4H13.6" />
    </g>
  </symbol>
</svg>
<!-- button svgs -->
<svg viewBox="0 0 24 24" display='none' xmlns="http://www.w3.org/2000/svg">
  <symbol id="svg--left" class="buttonSVG" fill="none">
    <circle cx="12" cy="12" r="9.5" class="circle" />
    <path d="M8.64645 11.6464C8.45118 11.8417 8.45118 12.1583 8.64645 12.3536L11.8284 15.5355C12.0237 15.7308 12.3403 15.7308 12.5355 15.5355C12.7308 15.3403 12.7308 15.0237 12.5355 14.8284L9.70711 12L12.5355 9.17157C12.7308 8.97631 12.7308 8.65973 12.5355 8.46447C12.3403 8.2692 12.0237 8.2692 11.8284 8.46447L8.64645 11.6464ZM9 12.5H9.5V11.5H9V12.5Z" class="arrow" />
  </symbol>
  <symbol id="svg--right" class="buttonSVG" fill="none">
    <circle cx="12" cy="12" r="9.5" class="circle" />
    <path d="M14.8536 12.3536C15.0488 12.1583 15.0488 11.8417 14.8536 11.6464L11.6716 8.46447C11.4763 8.2692 11.1597 8.2692 10.9645 8.46447C10.7692 8.65973 10.7692 8.97631 10.9645 9.17157L13.7929 12L10.9645 14.8284C10.7692 15.0237 10.7692 15.3403 10.9645 15.5355C11.1597 15.7308 11.4763 15.7308 11.6716 15.5355L14.8536 12.3536ZM14 12.5H14.5V11.5H14V12.5Z" class="arrow" />
  </symbol>
</svg>
</body>
</html>