<%- include('../templates/header', {title: 'Coffee Shop Showpage', stylesheet: ""}) %>
<%- include('../templates/navbar', {nav: 'navbar margin-0'}) %>

<!-- Coffee Shop -->
<div class="container container--100">
  <div class="card card--showpage carousel">
    <% for(let i = 0; i < coffeeShop.images.length; i++) { %>
    <img class="active carousel__image" data-src="<%=coffeeShop.images[i].filename%>" alt="...">
    <% } %>
    <svg class="button--svg button--left" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
      <!-- <circle cx="20" cy="20" r="20" fill="#aaa5" stroke="none"/> -->
      <path d="M 25,10 L 15,20 L 25,30" fill="none" stroke-width="2px"></path>
    </svg>
    <svg class="button--svg button--right" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
      <!-- <circle cx="20" cy="20" r="20" fill="#aaa5" stroke="none"/> -->
      <path d="M 15,10 L 25,20 L 15,30" fill="none" stroke-width="2px"></path>
    </svg>
    <div class="card__title">
      <h3><%=coffeeShop.name%></h3>
    </div>
  </div>
</div>

<!-- DESCRIPTION -->
<div class="container margin-top">
  <p class="font-small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, magnam. Ipsa minima est commodi totam, excepturi distinctio possimus sequi porro quibusdam ipsam sunt aspernatur ad rerum unde optio doloremque iste?</p>
  <%if(user && String(user._id) === String(coffeeShop.author)) {%>
  <div class="container container--flex">
    <a class="button" href="/coffeeshops/<%=coffeeShop._id%>/edit">Edit</a>
    <button class="button button--delete openModal" data-modal="modal-1">Delete</button>
    <dialog id="modal-1">
      <button class="closeModal" type="button"></button>
      <h2>Are you absolutely sure?</h2>
      <p>
        This action cannot be undone. This will permanently delete the coffee shop, and all related information
      </p>
      <form action="/coffeeshops/<%=coffeeShop._id%>?_method=DELETE" method="POST">
        <button class="button button--delete">I understand, delete this coffee shop</button>
      </form>
    </dialog>
  </div>
  <%}%>
</div>

<!-- REVIEW SECTION -->
<div class=" container margin-top">

        <!-- Slightly different message depending on if there are reviews or not -->
        <%if(coffeeShop.reviews.length === 0) {%>
  <h3>Be the first to review this cafe!</h3>
  <%} else {%>
  <h3>Reviews</h3>
  <%}%>


    <!-- Slightly different "make a comment" template shown depending on if the user is logged in or not -->
  <%if(!user) {%>
  <form action="/coffeeShops/<%=coffeeShop._id%>/reviews" method="POST">
    <div class="comment">
      <div class="comment__picture">
        <img src="https://res.cloudinary.com/christianjosuebt/image/upload/w_200,h_200,c_limit,e_blur:400,o_90,b_black/l_text:arial_80:®,ar_1:1,c_lfill,o_60,co_rgb:ffffff,b_rgb:000000,r_max/v1619026522/coffeeShops/smile_bpkzip.svg" alt="">
      </div>
      <div class="comment__main">
        <div class="comment__main__body flex flex--column">
          <a href="/users/login"><input class="input" type="text" name="review[body]" placeholder="Leave a review..." required></a>
          <svg xmlns="http://www.w3.org/2000/svg" class="line" viewBox="0 0 40 2" preserveAspectRatio="none">
            <path d="M0 1 L40 1"></path>
            <path d="M0 1 L40 1" class="focus"></path>
          </svg>
          <input type="hidden" name="review[author]" value="none">
        </div>
        <div class="comment__aside hide">
          <div class="comment__aside__rating">
            <div id="makeRating" class="flex rating">
              <svg viewBox="0 0 24 24" width="48" height="48" data-rating="1">
                <use href="#cup"></use>
              </svg>
              <svg viewBox="0 0 24 24" width="48" height="48" data-rating="2">
                <use href="#cup"></use>
              </svg>
              <svg viewBox="0 0 24 24" width="48" height="48" data-rating="3">
                <use href="#cup"></use>
              </svg>
              <svg viewBox="0 0 24 24" width="48" height="48" data-rating="4">
                <use href="#cup"></use>
              </svg>
              <svg viewBox="0 0 24 24" width="48" height="48" data-rating="5">
                <use href="#cup"></use>
              </svg>
            </div>
            <input type="number" name="review[rating]" min="0" max="5" step="1" class="stars--rating label">
          </div>
          <div class="comment__aside__buttons justify-end">
            <button type="button" class="button cancel transparent">Cancel</button>
            <button class="button">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <%} else {%>
  <form action="/coffeeShops/<%=coffeeShop._id%>/reviews" method="POST">
    <div class="comment">
      <div class="comment__picture">
        <img src="<%=user.profilePicture.url%>" alt="">
      </div>
      <div class="comment__main">
        <div class="comment__main__body flex flex--column">
          <input class="input" type="text" name="review[body]" placeholder="Leave a review..." required>
          <svg xmlns="http://www.w3.org/2000/svg" class="line" viewBox="0 0 40 2" preserveAspectRatio="none">
            <path d="M0 1 L40 1"></path>
            <path d="M0 1 L40 1" class="focus"></path>
          </svg>
          <input type="hidden" name="review[author]" value="<%=user._id%>">
        </div>
        <div class="comment__aside hide">
          <div class="comment__aside__rating">
            <div id="makeRating" class="flex rating">
              <svg viewBox="0 0 24 24" width="48" height="48" data-rating="1">
                <use href="#cup"></use>
              </svg>
              <svg viewBox="0 0 24 24" width="48" height="48" data-rating="2">
                <use href="#cup"></use>
              </svg>
              <svg viewBox="0 0 24 24" width="48" height="48" data-rating="3">
                <use href="#cup"></use>
              </svg>
              <svg viewBox="0 0 24 24" width="48" height="48" data-rating="4">
                <use href="#cup"></use>
              </svg>
              <svg viewBox="0 0 24 24" width="48" height="48" data-rating="5">
                <use href="#cup"></use>
              </svg>
              <input type="hidden" name="review[rating]" min="0" max="5">
            </div>
          </div>
          <div class="comment__aside__buttons justify-end">
            <button type="button" class="button cancel transparent">Cancel</button>
            <button class="button">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <%}%> 
    

  <!-- display all the reviews for this coffeeshop  -->
  <%for(let i = 0; i < coffeeShop.reviews.length; i++) {%>
  <div class="container--100">
    <div class="comment">
      <div class="comment__picture">
        <img src="<%=coffeeShop.reviews[i].author[0].profilePicture.url%>" alt="">
      </div>
      <div class="comment__main">
        <div class="comment__main__title">
          <%=coffeeShop.reviews[i].author[0].username%>
          <!-- SVG STARS -->
          <div id="rating" class="flex rating" data-rating="<%=coffeeShop.reviews[i].rating%>">
            <svg viewBox="0 0 24 24" width="48" height="48">
              <use href="#cup"></use>
            </svg>
            <svg viewBox="0 0 24 24" width="48" height="48">
              <use href="#cup"></use>
            </svg>
            <svg viewBox="0 0 24 24" width="48" height="48">
              <use href="#cup"></use>
            </svg>
            <svg viewBox="0 0 24 24" width="48" height="48">
              <use href="#cup"></use>
            </svg>
            <svg viewBox="0 0 24 24" width="48" height="48">
              <use href="#cup"></use>
            </svg>
          </div>
        </div>
        <div class="comment__main__body">
          <%=coffeeShop.reviews[i].body%>
        </div>
      </div>
    </div>
  </div>
  <%}%>
</div>



<script src="/js/loaduser.js"></script>
<script src="/js/showpage.js"></script>

<!-- SVG Definition-->
<svg xmlns="http://www.w3.org/2000/svg" xmlns:bx="https://boxy-svg.com" viewBox="0 0 2500 500" version="1.1">
    <defs>
        <pattern id="pattern1" x="0" y="0" width="500" height="500" patternUnits="userSpaceOnUse">
            <path d="M 354.667 186.497 L 404.728 279.884 L 504.667 301.087 L 435.667 380.006 L 447.372 486.497 L 354.667 441.884 L 261.962 486.497 L 273.667 380.006 L 204.667 301.087 L 304.606 279.884 Z" style="stroke-linecap: round; stroke-linejoin: round; stroke-width: 8px; fill: rgb(255, 255, 255);" transform="matrix(1, 0.000054, -0.000054, 1, -104.648837, -86.516146)" bx:shape="star 354.667 352.333 157.719 165.836 0.54 5 1@aca9c76d" bx:origin="0.500924 0.494259"/>
        </pattern>
        <pattern id="pattern2" x="0" y="0" width="500" height="500" patternUnits="userSpaceOnUse">
            <path d="M 354.667 131.218 L 421.415 255.735 L 554.667 284.005 L 462.667 389.23 L 478.274 531.219 L 354.667 471.735 L 231.06 531.219 L 246.667 389.23 L 154.667 284.005 L 287.919 255.735 Z" style="stroke-linecap: round; stroke-linejoin: round; stroke-width: 8px; fill: rgb(255, 255, 255);" transform="matrix(1, -0.000051, 0.000051, 1, -104.683894, -81.200404)" bx:shape="star 354.667 352.333 210.292 221.115 0.54 5 1@4152cf12" bx:origin="0.5 0.5"/>
            <path d="M 354.667 158.858 L 413.071 267.81 L 529.667 292.546 L 449.167 384.618 L 462.823 508.858 L 354.667 456.81 L 246.511 508.858 L 260.167 384.618 L 179.667 292.546 L 296.263 267.81 Z" style="stroke-linecap: round; stroke-linejoin: round; stroke-width: 8px;" transform="matrix(1, 0.000054, -0.000054, 1, -104.648975, -83.877154)" bx:shape="star 354.667 352.333 184.006 193.475 0.54 5 1@c125bbbd" bx:origin="0.5714 0.476826"/>
        </pattern>
        <mask id="mask1" x="0" y="0" width="2500" height="500">
          <rect x="0" y="0"  width="2500" height="500"
              style="stroke:none; fill: url(#pattern2)"/>
        </mask>
        <mask id="mask5" x="0" y="0" width="2500" height="500">
          <rect x="0" y="0"  width="2500" height="500"
              style="stroke:none; fill: url(#pattern1)"/>
        </mask>
    </defs>
</svg>
<svg display="none" xmlns="http://www.w3.org/2000/svg">
  <!-- 0 0 24 24 viewbox and 24 width/height -->
  <symbol id="cup" class="cup" fill="none">
    <path d="M6 8L18 8L16.9086 17.4585C16.7142 19.1436 16.617 19.9861 16.0482 20.4931C15.4794 21 14.6313 21 12.935 21L11.065 21C9.36873 21 8.52059 21 7.9518 20.4931C7.38302 19.9861 7.2858 19.1436 7.09136 17.4585L6 8Z" stroke="black" />
    <path d="M9.69231 11.75V15.0556M12.4615 15.0556V11.75M13.8462 15.0556V11.75M8.30769 15.0556V11.75M15.2308 15.0556V11.75M11.0769 15.0556V11.75M16.9958 10C17.4962 10 17.7464 10 17.8909 10.1277C18.0354 10.2554 18.0109 10.4549 17.9618 10.854L17.2931 16.2984C17.2521 16.6318 17.2316 16.7985 17.0929 16.8993C16.9542 17 16.7451 17 16.3271 17H7.67294C7.25485 17 7.0458 17 6.90708 16.8993C6.76836 16.7985 6.74789 16.6318 6.70693 16.2984L6.03816 10.854C5.98915 10.4549 5.96464 10.2554 6.10911 10.1277C6.25359 10 6.50378 10 7.00417 10L16.9958 10Z" stroke="black" stroke-linecap="round" />
    <path d="M6.4 6L7.11464 3.70293C7.24471 3.28485 7.63165 3 8.0695 3H15.9305C16.3684 3 16.7553 3.28485 16.8854 3.70293L17.6 6M6.4 6H6C5.44772 6 5 6.44772 5 7V7C5 7.55228 5.44772 8 6 8H18C18.5523 8 19 7.55228 19 7V7C19 6.44772 18.5523 6 18 6H17.6M6.4 6H17.6" stroke="black" />
  </symbol>
  <!-- 0 0 24 24 viewbox and 24 width/height -->
  <symbol id="cupFill" class="cupFill" fill="none">
    <path d="M6 8L18 8L16.9086 17.4585C16.7142 19.1436 16.617 19.9861 16.0482 20.4931C15.4794 21 14.6313 21 12.935 21L11.065 21C9.36873 21 8.52059 21 7.9518 20.4931C7.38302 19.9861 7.2858 19.1436 7.09136 17.4585L6 8Z" fill="#CDB4DB" stroke="black" />
    <path d="M16.9958 10C17.4962 10 17.7464 10 17.8909 10.1277C18.0354 10.2554 18.0109 10.4549 17.9618 10.854L17.2931 16.2984C17.2521 16.6318 17.2316 16.7985 17.0929 16.8993C16.9542 17 16.7451 17 16.3271 17H7.67294C7.25485 17 7.0458 17 6.90708 16.8993C6.76836 16.7985 6.74789 16.6318 6.70693 16.2984L6.03816 10.854C5.98915 10.4549 5.96464 10.2554 6.10911 10.1277C6.25359 10 6.50378 10 7.00417 10L16.9958 10Z" fill="#A2D2FF" />
    <path d="M9.69231 11.75V15.0556M12.4615 15.0556V11.75M13.8462 15.0556V11.75M8.30769 15.0556V11.75M15.2308 15.0556V11.75M11.0769 15.0556V11.75M16.9958 10C17.4962 10 17.7464 10 17.8909 10.1277C18.0354 10.2554 18.0109 10.4549 17.9618 10.854L17.2931 16.2984C17.2521 16.6318 17.2316 16.7985 17.0929 16.8993C16.9542 17 16.7451 17 16.3271 17H7.67294C7.25485 17 7.0458 17 6.90708 16.8993C6.76836 16.7985 6.74789 16.6318 6.70693 16.2984L6.03816 10.854C5.98915 10.4549 5.96464 10.2554 6.10911 10.1277C6.25359 10 6.50378 10 7.00417 10L16.9958 10Z" stroke="black" stroke-linecap="round" />
    <path d="M6.4 6L7.11464 3.70293C7.24471 3.28485 7.63165 3 8.0695 3H15.9305C16.3684 3 16.7553 3.28485 16.8854 3.70293L17.6 6H18C18.5523 6 19 6.44772 19 7C19 7.55228 18.5523 8 18 8H6C5.44772 8 5 7.55228 5 7C5 6.44772 5.44772 6 6 6H6.4Z" fill="#A2D2FF" />
    <path d="M6.4 6L7.11464 3.70293C7.24471 3.28485 7.63165 3 8.0695 3H15.9305C16.3684 3 16.7553 3.28485 16.8854 3.70293L17.6 6M6.4 6H6C5.44772 6 5 6.44772 5 7V7C5 7.55228 5.44772 8 6 8H18C18.5523 8 19 7.55228 19 7V7C19 6.44772 18.5523 6 18 6H17.6M6.4 6H17.6" stroke="black" />
  </symbol>
</svg>
</body>
</html>